{% extends "base.html" %}
{% block content %}
    <div class="container m-5">
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    <div class="form-group">
        <h1>Укорачиватель ссылок</h1>
        <label>{{ form.original_url.label }}</label>
        {{ form.original_url(class="form-control") }}
        {% for error in form.original_url.errors %}
            <div class="alert alert-danger" role="alert">
                <span>{{ error }}</span>
            </div>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-primary btn-lg") }}
</form>
    </div>
{% endblock content %}